* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.index-page h1 {
    border: 5px solid darkred;
    background-color: red;
    color: white;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

.cheeseburger-page {
    background-image: url(./images/burger-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cheeseburger-page {
    max-width: 450px;
    margin-left: 25px;
}